# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Faks\Programiranje-3-Ontologija\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
